<%- include('layout/header.ejs')%>
<div class="menuleft" id="kek">
  <ul>
    <li>
      Бытовая техника
      <div class="showmenu"></div>
    </li>
    <li>
      Смартфоны и гаджеты
      <div class="showmenu">sdasodjoidj</div>
    </li>
    <li>
      Тв и развлечения
      <div class="showmenu">sdasodjoidj</div>
    </li>
    <li>
      Компьютеры
      <div class="showmenu">sdasodjoidj</div>
    </li>
    <li id="last">
      Аксессуары
      <div class="showmenu">sdasodjoidj</div>
    </li>
  </ul>
</div>
<label>dsdasdsadsa</label>
<%- include('layout/footer.ejs')%>
