*{
    box-sizing: border-box;
  }
  ::selection {
      background-color: #EBEBF2;
      color: #83828D;
  }
  a {
      text-decoration: none;
  }
  ul,
  li{
    list-style: none;
    margin: 0;
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
  }
  li input{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
    text-decoration: none;
    display: inline-block;
  }
  li input:hover{
    cursor: pointer;
    border-color: #ffc222;
  }
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .containertop{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px; 
  }
  body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin: 0px;
    color: #000000;
    background-color: #dfdfdfee;
  }
  .header__top{
    background-color: #303030;
  }
  .header__btn{
    text-align: center;
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 50px 5px 50px;
    font-size: 16px;
    display: block;
    position: relative;
  }
  .header__phone,
  .header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
  }
  .header__phone{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .header__email{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .header__logo{
    margin-left: 50px;
  }
  .header__content{
    padding: 34px 0px 23px;
  }
  .header__content-inner{
    display: flex;
    justify-content: space-between;
  }
  .menu li{
    display: inline-block;
  }
  .menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
    text-decoration: none;
    display: inline-block;
  }
  .menu a:hover{
    border-color: #ffc222;
  }
  #modal{
    display: none;
  }
  .item:hover {
    border: 2px solid #fc5a5a;
  }
  .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    }
    th {
    font-size: 18px;
    padding: 10px;
    }
    td {
    background: #F5D7BF;
    padding: 10px;
    }
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    /* Style the submit button */
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #ffffff;
      color: rgb(0, 0, 0);
      font-size: 17px;
      border: 1px solid grey;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      transition: .15s ease-in;
    }
    form.example button:hover {
      background: #f5c800;
    }
    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
  .search{
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }
  #search:hover{
    background-color: white;
    transition: 0.5s;
  }
  #display{
    background-color: white;
  }
  #display:hover{
    cursor: pointer;
  }
  #display li:hover{
    background-color: #FCF8E3;
  }
  
    .container2 {
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      width: 780px;
      height: 300px;
      background-color: #fff;
      justify-content: center;
      align-items: center;
    }
    
    .sign{
      color: #32323e;
      font-weight: bold;
      letter-spacing: 2px;
      font-family: bebas kai;
      font-size: 18px;
    }
    .sign2{
      height: 30px;
      margin-top: 10px;
    }
  
    .box {
      width: 200px;
      height: 280px;
      background-color: #ffffff81;
      border-radius: 10px;
      box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      margin: 10px 10px;
    }
    .box:hover{
      background-color: #fff;
      transform-style: preserve-3d;
      transform: scale(1.02);
      transition: all ease 0.3s;
    }
    .box:hover .sign{
      color: #f5c800;
      transition: all ease 0.5s;
    }
  
    .model{
      height: 100px;
      max-height: 100%;
      max-width: 100%;
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
    }
    .details p{
      font-family: calibri;
      font-weight: bold;
      color: #6a6a74;
      text-align: center;
      margin-top: 0px;
    }
    .box ul {
      list-style: none;
    }
    
    .box li {
      display: inline-block;
    }
  
    .box a{
      text-decoration: none;
    }
  
    /* Страница товара*/
    .itemcontainer{
      max-width: 1180px;
      width: 1200px;
      padding: 0 10px;
      box-sizing: content-box;
      margin-left: auto;
      margin-right: auto;
      min-height: 75%;
      display: block;
    }
    .nodeblock{
      width: 100%;
      display: inline-block;
      position: relative;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
      background-color: #fff;
    }
    .itemheader{
      margin-left: 0;
      margin-right: 0;
      padding: 1em;
      position: relative;
    }
    .photo{
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      float: left;
    }
    .photo img{
      cursor: pointer;
      height: 320px;
      width: 320px;
      transition: opacity .3s;
    }
    .itemname{
      font-size: 28px;
      color: #333333;
      font-weight: normal;
      margin-top: 22px;
      margin-bottom: 11px;
      margin: .67em 0;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      line-height: 1.1;
      display: block;
    }
    .data{
      width: 225px;
      position: relative;
      float: left;
    }
    .cost{
      min-height: 100px;
      display: block;
    }
    .costnum{
      position: relative;
      width: auto;
      display: inline-block;
      padding-right: 32px;
      font-size: 36px;
      line-height: 47px;
      font-weight: bold;
      color: #fb791a;
    }
    .buy{
      float: left;
      width: 225px;
      height: 62px;
    }
    .btn-buy{
      width: 100%;
      height: 100%;
      text-decoration: none; /* убирать подчёркивание у ссылок */
      user-select: none; /* убирать выделение текста */
      color: rgb(255, 255, 255);
      background: linear-gradient(to top, rgb(252, 133, 7), rgb(255, 162, 24));
      border-width: 1px;
      border-style: solid;
      border-color: rgb(252, 133, 7) transparent rgb(255, 162, 24);
      font-size: 18px;
      transition: 0.3s;
      border-radius: 8px;
      cursor: pointer;
    }
    .bought{
      width: 100%;
      height: 100%;
      text-decoration: none; /* убирать подчёркивание у ссылок */
      user-select: none; /* убирать выделение текста */
      color: rgb(255, 255, 255);
      background: #0650c2;
      font-size: 18px;
      border-radius: 8px;
      cursor: pointer;
    }
    .description{
      float: left;
      margin-left: 20px;
      font-size: 16px;
      line-height: 1.42857;
    }
  
  /*Левое меню на главной странице*/
  .menuleft{
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 8px;
    width: 255px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
    background-color: rgb(255, 255, 255);
    }
  .menuleft li{
    border-bottom: 1px solid #f5c800;
    list-style: none;
    margin: 0;
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    padding: 0px 16px;
    transition: all .3s;
  }
  .menuleft li:hover{
    color: #ffc222;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  .showmenu{
    color: #000000;
    position: absolute;
    display: none;
    margin-left: 230px;
      width: 300px;
      margin-top: -31px;
      background:#f3f3f3;
      height:200px;
      -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
      -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
      box-shadow:0 5px 5px rgba(0,0,0,0.3);
  }
  .menuleft li:hover .showmenu{
    display: block;
  }
  #last{
    border-bottom: none;
  }
  
  .menu-wrap {
    display: none;
  }
  
  /*Корзина*/
  
    @media screen and (max-width: 480px){
      /*Поиск*/
      
    form.example input[type=text] {
      margin: 0 auto;
      font-size: 17px;
      border: 1px solid grey;
      width: 200px;
      background: #f1f1f1;
    }
    form.example button {
      display: none;
     }
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
    .search{
      margin: 0 auto;
      width: 200px;
    }
      /* Вехняя часть */
      .header__top{
        width: auto;
        z-index: 2;
      }
      .containertop{
        width: auto;
        margin: 0 auto;
      }
      .header__contacts{
        margin: 0 auto;
      }
      .header__phone,
      .header__email{
        display: block;
        margin: 0 auto;
        color: #cbcacb;
        letter-spacing: 0.25px;
        line-height: 45px;
        position: relative;
      }
      .header__phone{
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        text-align: center;
        width: 50%;
      }
      .header__email{
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        text-align: center;
        width: 50%;
      }
      .header__btn{
        float: none;
        margin: 0 auto;
        line-height: 36px;
        color: #1b1b1b;
        background-color: #ffc222;
        font-size: 16px;
        display: block;
      }
  
      /* Меню в хедере */
      .menu li + li{
        padding-left: 0px;
      }
      .menu li{
        margin: 0 auto;
        margin-left: 30%;
        margin-right: 20%;
      }
      .menu a{
        color: #323232;
        margin-left: auto;
        font-size: 16px;
        line-height: 36px;
        border: 3px solid transparent;
        transition: all .3s;
        text-decoration: none;
        display: inline-block;
      }
      .menu ul{
        margin: 0 auto;
      }
      ul,
      li{
        list-style: none;
        margin: 0 auto;
        color: #323232;
        font-size: 16px;
        line-height: 36px;
        border: 1px solid transparent;
        padding: 0px 5px;
        transition: all .3s;
      }
      /*Пост хедер*/
      .header__content{
        padding: 5px 0px 5px;
      }
      /* Лого */
      .header__logo{
        margin-left: 50px;
        margin-top: 50px;
      }
      /* Панель выбора категории */
      .menuleft{
        display: none;
      }
  
      /* Слайдер */
      .container2 {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        max-height: 170px;
        background-color: #fff;
        justify-content: center;
        align-items: center;
      }
      .sign{
        color: #32323e;
        font-weight: bold;
        font-family: bebas kai;
        font-size: 12px;
        margin-bottom: 2px;
        margin-top: 2px;
      }
      .sign2{
        height: 20px;
        margin-top: 5px;
      }
      .box {
        width: 100px;
        height: 140px;
        background-color: #ffffff81;
        border-radius: 10px;
        box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 5px;
      }
      .model{
        max-height: 75px;
        max-width: 75px;
      }
  
      /* Выдвигающееся меню */
      .menu-wrap {
        display: block;
        background-color: #ffd000;
        position: fixed;
        top: 0;
        height: 100%;
        width: 40%;
        margin-left: -280px;
        font-size: 1em;
        font-weight: 700;
        overflow: auto;
        transition: .25s;
        z-index: 10;
      }
      .menu-show {
        overflow: hidden;
        margin-left: 0;
        box-shadow: 4px 2px 15px 1px #B9ADAD;
      }
      .menu-sidebar {
        margin: 15px 10px 0px 10px;;
        position: relative;
        top: 70px;
      }
      .menu-sidebar li {
        padding-left: 0px;
        margin-left: 0px;
        padding: 18px 22px 0;
      }
      .menu-sidebar li > a {
        color: #000000;
        font-size: 1.18em;
        position: relative;
      }
      .menu-sidebar li > a::after {
        content: "";
        display: block;
        height: 0.15em;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
        transition: background-position .2s .1s ease-out;
        background-size: 200% auto;
      }
      .menu-sidebar li > a:hover::after {
        background-position: -100% 0;
      }
      .menu-sidebar .menu-item-has-children {
        position: relative;
      }
      .menu-sidebar .menu-item-has-children .sub-menu {
        display: none;
      }
      .sidebar-menu-arrow::after {
        content: "\f107";
        font-family: 'FontAwesome';
        padding: 10px;
        color: #FFFA3B;
        position: relative;
      }
      .sidebar-menu-arrow:hover::after {
        cursor: pointer;
        color: #fff;
      }
      .sidebar-menu-arrow:active::after {
        top: 2px;
      }
      
      
      /*Hamburger Button*/
      .toggle-button {
        position: fixed;
        width: 44px;
        height: 40px;
        top: 50px;
        left: 40px;
        padding: 4px;
        transition: .25s;
        z-index: 15;
      }
      .toggle-button:hover {
        cursor: pointer;
      }
      .toggle-button .menu-bar {
        position: absolute;
        border-radius: 2px;
        width: 80%;
        transition: .5s;
      }
      .toggle-button .menu-bar-top {
        border: 4px solid #555;
        border-bottom: none;
        top: 0;
      }
      .toggle-button .menu-bar-middle {
        height: 4px;
        background-color: #555;
        margin-top: 7px;
        margin-bottom: 7px;
        top: 4px;
      }
      .toggle-button .menu-bar-bottom {
        border: 4px solid #555;
        border-top: none;
        top: 22px;
      }
      .button-open {
        left: 25px;
      }
      .button-open .menu-bar-top {
        border-color: #fff;
        transform: rotate(45deg) translate(8px, 8px);
        transition: .5s;
      }
      .button-open .menu-bar-middle {
        background-color: #fff;
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
      }
      .button-open .menu-bar-bottom {
        border-color: #fff;
        transform: rotate(-45deg) translate(7px, -7px);
        transition: .5s;
      }
      
      
      
      /* Text Block */
      .wrapper {
        width: 40%;
        margin: 100px auto 0;
        color: #83828D;
      }
      .wrapper .text {
        padding: 30px;
      }
      .wrapper .text .heading {
        margin-bottom: 40px;
        font-size: 2em;
      }
      .wrapper .text p {
        line-height: 1.6em;
      }
      .wrapper .text .buttons {
        margin-top: 40px;
      }
      
      /* Buttons */
      .wrapper .buttons .button {
        display: inline-block;
        margin-right: 20px;
        padding: 20px 25px;
        border-radius: 2em;
        background-color: #70CE64;
        color: #fff;
        font-size: .9em;
        font-weight: 700;
        transition: background-color .3s;
      }
      .wrapper .buttons .button-secondary {
        background-color: #FF6746;
      }
      .wrapper .buttons .button-primary:hover {
        background-color: #84D07A;
      }
      .wrapper .buttons .button-secondary:hover {
        background-color: #FF7D60;
      }
      
      /*Active state for the buttons*/
      .wrapper .buttons .button-primary:active {
        background-color: #70CE64;
      }
      .wrapper .buttons .button-secondary:active {
        background-color: #FF6746;
      }
      
      /*Icons*/
      .wrapper .buttons .button span {
        position: relative;
        display: inline-block;
        padding-right: 20px;
      }
      .wrapper .buttons .button span::after {
        position: absolute;
        font-family: "FontAwesome";
        right: -3px;
        font-size: 14px;
        top: 0;
        transition: top .3s, right .3s;
      }
      .wrapper .buttons .button-primary span::after {
        content: "\f019";
      }
      .wrapper .buttons .button-secondary span::after {
        content: "\f178";
      }
      /*Slight icons animation*/
      .wrapper .buttons .button-primary:hover span::after {
        top: 4px;
      }
      .wrapper .buttons .button-secondary:hover span::after {
        right: -6px;
      }
    }  